<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Patrice &amp; Xalbat - Wedding
    </title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-reboot.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-reboot.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid ">
            @*<a class="navbar-brand" href="#">Navbar</a>*@
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-evenly" id="navbarNav">
                <ul class="navbar-nav justify-content-evenly">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase ms-5  active" aria-current="page" asp-page="/Index">Welcome!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase ms-5 " asp-page="/Attendance">Attendance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase  ms-5 " asp-page="/WeddingVenue">Wedding Venue</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
      <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2022 - XaXa</p>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
