@page
@model WeddingWebsite.Pages.AttendanceModel
@{
}


<div class="row websiteDecoration">
</div>
<div class="row websiteContainerAttendance" data-color="">
    <div class="col websiteContainerSection">
        <h1 class="app-contrast-color websiteFont__headingHero mb20" data-color="">
            Attendance
        </h1>
        <div class="websiteFont__hero websiteLinkChilds websiteLinkChilds--underline">
            To confirm your attendance to the wedding, just enter your name and click on Search. Your name will appear and then just tell whether or not you are coming (leaving a message is optional, but it's always nice) :)
        </div>
    </div>
</div>

<div class="row">
    <div class="col">

    </div>
</div>