@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="myCarousel" class="col carousel slide full-width" data-bs-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>

    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/bg_t30_445098_c198246.jpg" class="d-block img-fluid w-100" />
            <div class="carousel-caption d-none d-md-block carousel-mycaption">
                <p class="text-uppercase">Patrice &amp; Xalbat</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/floral-love-letters-walled-garden1.jpg" class="d-block img-fluid w-100" alt="Slide 2" />
            <div class="carousel-caption d-none d-md-block carousel-mycaption">
                <p class="text-uppercase">Save The Date</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/pastel-coloured-flowers-in-hessian-baskets2.jpg" class="d-block img-fluid w-100" alt="Slide 3" />
            <div class="carousel-caption d-none d-md-block carousel-mycaption">
                <p class="text-uppercase">17 September 2023</p>
            </div>
        </div>

    </div>
    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div id="carouselExampleSlidesOnly" class="col carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
        </div>
    </div>
</div>

<div class="row background-top full-width">
    <div class="col">
            <div class="content-panel">
                <p class="claim">
                    We're Getting Married!
                </p>
                <p class="content-heading">
                    <span style="text-transform:lowercase">17th</span> September, 2023
                </p>                       
                <p class="place">
                    Epping, Essex
                </p>
            </div>
    </div>
</div>
<div class="row websiteContainer" >
    <div class="col">
        @*<div class="pure-u-1 websites-section">*@
            <ul class="app-website-sections">
                @*<li class="app-website-render-wrapper app-website-section-template sectionRender__wrapper websiteSectionWrapper dnone"></li>*@
                <li class="app-website-render-wrapper sectionRender__wrapper websiteSectionWrapper">
                    <div class="app-website-render">
                        <div class="websiteContainerSection">
                        <div class="headingHero">
                                Welcome to our wedding!
                            </div>
                            <div class=" websiteFont__hero" >
                                <p>Yes! We are getting married!</p><p>We are so excited! We are in cloud nine and we want to share our love with you. We are planning a wedding that will make history, in which you will have lots of fun.</p><p>As we wait for the big day to arrive, we have created this website with lots of sections to keep you up-to-date of everything and to share our love story.</p><p>Just one important thing, in the attendance section you can confirm whether or not you will be at our wedding with us. Please, confirm as soon as possible, so we can arrange everything much faster.</p><p>Enjoy the site and see you soon, lots of love!</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        @*</div>*@
    </div>
</div>
<div class="row background-sep">
</div>
<div class="row websiteFooterWelcome full-width">
</div>