@page "{u}"
@model WeddingWebsite.Pages.Attendance.EditModel
@{
    Layout = "_SubLayout";
}

<div class="row websiteContainerAttendance" data-color="">
    <div class="col">
        <div class="websiteFont__hero">
            To confirm your attendance to the wedding, just enter your name and click on Search. Your name will appear and then just tell whether or not you are coming (leaving a message is optional, but it's always nice) :)
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <form class="row g-3" method="post">
             <div class="col-md-6">
                <label for="inputFirstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="the thing I use to call you">
            </div>
            <div class="col-md-6">
                <label for="inputLastName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="the thing I use to call you when I don't know you">
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="inputTelephone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="inputTelephone" placeholder="in case we need to call you">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Anything else ?</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Vegan, food allergy etc.."></textarea>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        I have a + 1
                    </label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
