@page
@model WeddingWebsite.Pages.Attendance.FinishedModel
@inject IViewLocalizer Localizer
@{
    Layout = "_SubLayout";
}

<div class="row websiteContainerAttendance" data-color="">
    <div class="col">
        <div class="websiteFont__hero">
            @Localizer["Thank you for your answer."]
        </div>
    </div>
</div>
