@page
@model WeddingWebsite.Pages.Attendance.FinishedModel
@{
    Layout = "_SubLayout";
}

<div class="row websiteContainerAttendance" data-color="">
    <div class="col">
        <div class="websiteFont__hero">
            Thank you for your answer.
        </div>
    </div>
</div>
